{load static}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% if type == 'farmer' %}
    <form method="POST" action='/farmerRegister/{{type}}'>
        {% csrf_token %}
        Username:
        <input type="text" name="address"><br>
        DOB:
        <input type="date" name="dob"><br>
        State:
        <input type="text" name="state"><br>
        District:
        <input type="text" name="district"><br>
        <button type="submit" >Submit</button>

    </form>
     {% endif %}
     {% if type == 'dealer' %}
    <form method="POST" action='/farmerRegister/{{type}}'>
        {% csrf_token %}
        
        Address:
        <input type="text" name="address"><br>
        Contact:
        <input type="text" name="contact"><br>
        
        <button type="submit" >Submit</button>

    </form>
     {% endif %}
     {% if type == 'seller' %}
    <form method="POST" action='/farmerRegister/{{type}}'>
        {% csrf_token %}
        
        
        address:
        <input type="text" name="address"><br>
        Phone No:
        <input type='text' name="contact">
        <button type="submit" >Submit</button>

    </form>
     {% endif %}





</body>
</html>