{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Document</title>
     <link href="{% static 'css/bank.css' %}" rel="stylesheet" type="text/css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 side">
           <div class="row top">
               hi
           </div>
           <div class="row bottom">
               whats up
           </div>
            </div>
        </div>
    </div>
    <form method ="POST" action='makeloan/'>
        {% csrf_token %}
    Amt<input type="number" name='amt'>
    Rate<input type="number" name ='rate'>
    Year<input type ="number" name ='year'>
        
        <button type="submit">Submit:</button>
    </form>

</body>
</html>